@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model List<ImageLabel>

@{
    Layout = "_Layout";
    var Request = HttpContextAccessor.HttpContext.Request;
    ViewData["Title"] = "ImageLabelApp";
}

<form method="get" action="/">
    <div id="filters">
        <h3>Filters</h3>
        @foreach (var label in ViewBag.AvailableLabels as List<string>)
        {
            <label>
                <input type="checkbox" name="selectedLabels" value="@label" onchange="this.form.submit()" @(Request.Query["selectedLabels"].Contains(label) ? "checked" : "") /> @label
            </label>
        }
    </div>
</form>

<form method="post" asp-action="CopyImages" class="mt-4">
    <input type="hidden" name="selectedLabels" value="@string.Join(",", Request.Query["selectedLabels"])">
    <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Create Local Copy
    </button>
</form>

<div class="container">
    <div>
        <button onclick="setImageSize('small')">Small</button>
        <button onclick="setImageSize('medium')">Medium</button>
        <button onclick="setImageSize('large')">Large</button>
    </div>

    <div id="imageGallery">
        @for (var i = 0; i <= 0; i++)
        {
            @foreach (var img in Model)
        {
            <div class="img-container">
                <img class="gallery-image medium" src="@Url.Action("GetImage", "Home", new { imageHash = img.ImageHash })" alt="@img.OriginalFileName">
                <p class="mt-2 text-center img-caption">@img.OriginalFileName</p>
            </div>
        }
        }
        
    </div>
</div>
