@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model List<ImageLabel>

@{
    Layout = "_Layout";
    var Request = HttpContextAccessor.HttpContext.Request;
    ViewData["Title"] = "ImageLabelApp";
}

<div class="controls-container">
    <form method="get" action="/" class="filter-form">
        @foreach (var label in ViewBag.AvailableLabels as List<string>)
        {
            <label class="filter-checkbox">
                <input type="checkbox" name="selectedLabels" value="@label" onchange="this.form.submit()" @(Request.Query["selectedLabels"].Contains(label) ? "checked" : "") /> @label
            </label>
        }
    </form>

    <form method="post" asp-action="CopyImages" class="copy-form">
        <input type="hidden" name="selectedLabels" value="@string.Join(",", Request.Query["selectedLabels"])">
        <button type="submit" class="copy-button">
            Create Local Copy
        </button>
    </form>
</div>

<hr class="separator" />

<div id="imageGallery" class="image-gallery">
    @foreach (var img in Model)
    {
        <div class="img-container">
            <img class="gallery-image" src="@Url.Action("GetImage", "Home", new { imageHash = img.ImageHash })" alt="@img.OriginalFileName" onclick="openOverlay(this)">
            <p class="mt-2 text-center img-caption">@img.OriginalFileName</p>
        </div>
    }
</div>

<div id="imageOverlay" class="overlay" style="display:none;">
    <span class="close-button" onclick="closeOverlay()">✖</span>
    <img id="overlayImage" class="overlay-image" src="" alt="Full View">
</div>
